.card {
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  height: fit-content;
  margin: 1rem;
  position: relative;
  width: 290px;
  overflow: hidden;
  padding: 1em;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.label {
  color: #65AFFF;
  font-weight: 600;
}

.label_text {
  color: black;
  font-weight: 400;
  padding: 0.2em;
}

input {
  background: inherit;
  border: 1px solid #c6cbd6;
  border-radius: 0.25em;
  margin: 0;
  padding: 0.2em;
  line-height: 1.25em;
  width: calc(100% - 1em);
}

input:focus {
  border: 1px solid #333;
  outline: none;
}

.card_image {
  width: 100%;
  height: 10em;
  object-fit: cover;
  border-radius: 0.25em;
}
