.header {
  height: 4em;
  display: grid;
  padding-left: 2em;
  padding-right: 2em;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.header-text {
  font-size: 28pt;
  color: #007FFF;
  font-family: "Pattaya", sans-serif;
}
